.table {
	margin-top: 20px;
	height: 400px;
	overflow: scroll;
	overflow-x: hidden;
	color: #333333;
	transition: all 0.2ms ease-in-out;

	tr {
		display: flex;
		justify-content: space-between;
	}
	tr:nth-of-type(odd) {
		background-color: rgba(black, 0.1);
	}

	td {
		padding: 0.5rem;
	}

	&:hover {
		&::-webkit-scrollbar {
			border-color: rgba(black, 0.05);
		}
		&::-webkit-scrollbar-thumb {
			background: rgba(black, 0.15);
		}
	}
	&::-webkit-scrollbar {
		width: 6px;
		border: 0.5px solid transparent;
		border-radius: 6px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 6px;
		background: rgba(black, 0);
	}
}
